
.diva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    padding: 1.5625rem;   
}

.diva1 {

    display: flex;
    justify-content: center;
    gap:50px;
    padding: 3.125rem 1.5625rem 1.5625rem 1.5625rem;
}

.divfoto {
    width: 12.5rem;
    height: 12.5rem;
}


.divmensagem_adote{

    font-weight: 600;
    font-size: 60px;
    color: black;
}
.divmensagem_id{

font-weight: 600;
font-size: 14px;
color: black;
}

.divfoto{
    width: 12.5rem;
    height: 12.5rem;
    object-fit: contain;
    border-radius: 50%;
    object-fit: cover;
}