.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #85CDF5;
  height: 8.125rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.navLink {
  text-decoration: none;
  color: black;
  font-size: 1.875rem;
  font-weight: 700;
  position: relative;
}
.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: .1875rem;
  background-color: black;
  transition: all 0.3s ease;
}

.navLink:hover::after {
  width: 70%;
}